@model IEnumerable<DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Type</h1>

<p>
    <i class="fa fa-plus" aria-hidden="true"></i>
    @Html.ActionLink("Create New ", "Create")
</p>

<table id="leavetypetable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{ 
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $('document').ready(function () {
            $('#leavetypetable').DataTable({
                "ajax": {
                    "url": "/LeaveType/GetLeaveTypes",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Description"},
                    { "data": "DateCreated" }
                ]
            });
        });
    </script>
}