@model IEnumerable<DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Type</h1>

<p>
    <i class="fa fa-plus" aria-hidden="true"></i>
    @Html.ActionLink("Create New ", "Create")
</p>

<table id="leavetypetable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

@section scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/leavetype.js"></script>
}