@page
@model IEnumerable<leavemanagementsystem.Models.DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Leave Type</h3>
<hr />

<table id="leaveTypeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.DefaultDays)</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/js/leavetype.js"></script>
}
