@model IEnumerable<leavemanagementsystem.Models.DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Type</h1>
<hr />

<div class="row">
    <div class="col-lg-12 mb-3">
        <a class="btn btn-success pull-right popup text-white" data-url="LeaveType/AddEditLeaveType" data-toggle="modal" data-target="#modal-add-edit">
            <i class="fa fa-plus"></i> Add New
        </a>
    </div>

    <partial name="../Shared/_Modal.cshtml" for="@Model">

</div>

<table id="leaveTypeTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>DateCreated</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{ 
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/js/leavetype.js" asp-append-version="true"></script>
}
