@model IEnumerable<leavemanagementsystem.Models.DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Type</h1>
<hr />

<div class="row">
    <div class="col-lg-12 mb-3">
        <a class="btn btn-success pull-right text-white" onclick="PopupForm('@Url.Action("AddEditLeaveType", "LeaveType")')">
            <i class="fa fa-plus"></i> Add New
        </a>
    </div>
</div>

<table id="leaveTypeTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>DateCreated</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{ 
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/js/leavetype.js"></script>
}
