@model IEnumerable<leavemanagementsystem.Models.LeaveAllocationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Leave Allocations</h3>
<hr />

<table id="leaveAllocationTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LeaveTypeId)</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/js/leaveallocation.js"></script>
}